<nav>
  <ul ngbNav #nav="ngbNav">
    <li ngbNavItem>
      <a ngbNavLink routerLink="/about">About</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/experience">Experience</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/education">Education</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/skills">Skills</a>
    </li>
  </ul>
  <button class="btn btn-outline-primary" (click)="toggleLang()">
    <i class="bi-alarm"></i>About
  </button>
</nav>
