<div class="my-card" [class.selected]="experience.selected">
  <div *ngIf="experience.selected" class="float-end">
    <i class="bi bi-check-circle-fill text-info"></i>
  </div>
  <div class="card-body">
    <div class="d-flex">
      <img
        class="rounded d-block border-top border-left"
        height="40"
        width="40"
        [src]="experience.companyImageUrl"
        alt="..."
      />

      <div class="text-left mx-3">
        <h5
          class="card-title text-primary"
          [class.text-info]="experience.selected"
        >
          {{ experience.title }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ experience.company }}
        </h6>

        <p class="text-secondary">
          {{ experience.startDate | dateFormat }} -
          <span *ngIf="experience.endDate; else noDate">
            {{ experience.endDate | dateFormat }}
          </span>
          <ng-template #noDate> experience.noDate </ng-template>
          <br />

          {{ experience.location.city | translate }},
          {{ experience.location.country }} &centerdot;
          {{
            "experience.workArrangement." + experience.workArrangement
              | translate
          }}
          <ng-template #noDate> experience.noDate </ng-template>
        </p>
      </div>
    </div>

    <div>
      <p class="card-text">
        {{ experience.description }}
      </p>
    </div>
  </div>
</div>
