<div *ngIf="item">
  <div class="conainer-xl">
    <div class="row" (click)="handleChangeLanguage()">
      <div class="col-12">
        <img
          src="{{ item.imageUrl }}"
          class="rounded img-thumbnail"
          alt="..."
        />
        <span i18n>{{ item.degree.name }}</span>
      </div>
      <div class="col-12">{{ item.startDate }} - {{ item.startDate }}</div>
      <div class="col-12">
        <span i18n>{{ item.institution }}</span>
      </div>
      <div class="col-12">
        <span i18n>{{ item.fieldOfStudy }}</span>
      </div>

      <div class="col-12">
        <p>
          <span i18n>{{ item.description }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
